@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-dvh flex flex-col transition-colors duration-300 bg-gray-50 text-gray-900;
}

body.dark {
    @apply bg-gray-950 text-gray-100;
}

.animate-pulse-subtle {
    animation: pulse-subtle 4s ease-in-out infinite;
}

@keyframes pulse-subtle {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.02);
    }
}